
.form{
    display:flex;
    flex-direction: column;
    width:90vw;
    margin: 0;
    position:relative;
    left:50%;
    transform: translateX(-50%);  
    /* background-color: white; */
    /* color: white; */
    /* border-radius: 15px;
    box-sizing: border-box;  */
  
}

.group{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width:calc(100% -40x);
    padding:0 20px 0 20px;
}

.label{
    display: flex;
    box-sizing: border-box;
    /* font-size: 15px; */
    text-align: left;
    width: 150px;    
}

.input{
    width:100%;
    min-height:30px;
    max-height:30px;
    background-color:#C0C0C0;
    border-radius: 5px;
    box-sizing: border-box;
    line-height: 25px;
    border: 0
}
.main{
    display: flex;
    margin: 0 20px 10px 0;
    align-items: center;
    justify-content: center;
    gap:10px;

}

.button:hover{
    background-color:grey
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80px;
    height:30px;
    border-radius: 15px;
    margin: 0;
    border: white solid 1px;
    background-color: black;
    color: white;
}

.addButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width:30px;
    height:30px;
    border-radius: 15px;
    border: white solid 1px;
    margin: 10px 20px 30px 20px;
    background-color: black;
    color: white;
}
.addButton:hover{
    background-color:grey
}
.text{
    text-align: left;
    width: 90vw;
    padding:0 20px 0 20px;
}