
.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:0;
    left:50%;
    transform: translateX(-50%);  
    z-index: 1000;
    gap: 0 80px;
    width:90vw;
    min-height: 50px;
    height: auto;
    background-color:#C0C0C0;
    border-radius: 0 0 15px 15px;
    margin: 0;
    flex-wrap:wrap
}



.notActive{
    color: black; /* Example color */
    text-decoration: none; /* Remove underline */
    font-size: 15px;
    transition: transform 0.3s ease; /* Smooth transition for scaling */
    font-weight: 300;

}
.notActive:hover{
    color: white; /* Change text color on hover */
    text-decoration: none; /* Keep underline removed */
    transform: scale(1.3);
    transition: transform 0.3s ease, color 0.1s ease; /* Slow down the transition */


}

.isActive{
    color: white; 
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;

}

.isActive:hover{
    color: white; /* Change text color on hover */
    text-decoration: none; /* Keep underline removed */
    transform: scale(1.3);
    transition: transform 0.3s ease, color 0.5s ease; /* Slow down the transition */
}

.isActive:focus,
.isActive:active {
    color: inherit; /* Keep the current color on focus and active */
    outline: none
}

.outlet{
    padding-top: 50px;
}

.credentials{
    width:100;
    font-size:0.8rem;
    position:relative;
    color: gray;
}
