.container {
    display: flex;
    flex-direction: column;
    width:90vw;
    height:auto;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    position:relative;
    left:50%;
    transform: translateX(-50%);  
    padding: 0;
    overflow: hidden;
}
.details{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    gap:25px;
    padding:60px 0 0 0;
    margin: 0px;
}
.container img{
    width: 90vw;
    height: 800px;    
    object-fit:cover;
}

.ingredientsList{
    display:flex;
    flex-wrap: wrap;
    height: auto;
    padding:0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    gap:10px
}

.ingredientsList li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none; 
    box-sizing: border-box; 
    font-size: 15px;
}

.steps{
    display:flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 30px;
    margin: 0px;
    gap:10px;
}

.steps li{
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    list-style-type: none; 
    box-sizing: border-box; 
}

.stepNo{
    padding-left: 20px;
    width:80px;
    text-align: left;
    flex-shrink: 0; /* Prevents it from shrinking */
font-size: 15px;
}

.stepDet{
    padding-right: 20px;
    text-align: left;
    font-size: 15px;
}

.container  button {
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 12px;
    margin-bottom: 20px;
  }

.container button:hover {
    background-color: #2563eb;
}
.buttonGroup {
    display: flex;
    flex-direction: row;
    gap:10px;
    
}
.container p{
    margin:0px 5px 0px 5px;
}
.container h1{
    margin:15px 5px 0px 5px;
}
.container h2{
    margin:30px 5px 0px 5px;
}


